/* 

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
/* article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
 */

/* 
  GENERAL SHIT !!!!!!!!!!!!
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width:100%;
    border:1px solid grey;
}
/*General Styles*/
/* html{
    font-size:62.5%;
}
body{
    font-size:1.8rem;
    line-height: 1.5;
    color:#4F4F4F;
    font-family: 'PT Sans', sans-serif;
    background-color:#FFFAFA;
}
h1, h2, h3, h4{
    letter-spacing: 3px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}
h1{
    font-size: 5rem;
}
h2{
    font-size: 3rem;
}
h3{
    font-size:2.5rem;
}
section{
    padding: 4% 0;
}
a{
    text-decoration:none;
    letter-spacing:3px;
    color:#4F4F4F;
    font-family: 'PT Sans', sans-serif;
}

i{
    font-size: 5rem;
}

 */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
  /* border: 1px solid grey; */
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
nav a {
  text-decoration: none;
  background-color: aliceblue;
  border-radius: 10px;
  width: 10%;
  display: flex;
  justify-content: center;
}
nav a:hover {
  background-color: rgb(178, 250, 232);
  text-decoration: dotted;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px;
  background: linear-gradient(rgb(233, 47, 47), white, rgb(3, 217, 255));
  margin: 0 5%;
}
/* #stay{
  position: fixed;
  z-index: 9999;
  width: 100%;
} */
header h1 {
  display: flex;
  width: 100%;
  color: black;
  align-items: center;
  justify-content: center;
}
.content1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 5%;
  flex-wrap: wrap;
  background-color: rgb(178, 250, 232);
  padding-top: 3%;
}

.bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
p {
  width: 50%;
}
.content2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 30px;
  background-color: rgb(178, 250, 232);
}
.card {
  height: 5%;
  width: 30%;
  /* width: 30%; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 50px;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(150deg, yellow, teal, crimson, yellow, pink);
  padding: 30px;
  flex-wrap: wrap;
}

button {
  margin: 20px;
  padding: 0.3%;
  margin: 0 0.3%;
  border-radius: 5px;
}

button:hover {
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
}

/* media queries  tablet and phone */

@media (max-width: 800px) {
  .card {
    padding-top: 5%;
  }
}

@media (max-width: 500px) {
  button {
    background-color: aquamarine;
  }
  nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  nav a {
    width: 50%;
    margin: 2% 0;
    display: flex;
    justify-content: center;
  }
  .content1 p {
    width: 75%;
    padding: 3%;
  }
}
